* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url(./images/6492662.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  background-color: red;
}
.afis {
  width: 300px;
  margin: 120px;
  box-shadow: -15px 15px 10px #4000ffa6;
}

.yazılar {
  font-size: 20px;
}

.arkaplan {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.film {
  display: flex;
  align-items: center;
  gap: 40px;
}

.oyuncular {
  width: 150px;

  transition: 0.3s;
}
.oyuncular:hover {
  transform: scale(1.2);
}

.movie-text {
  font-size: 17px;
}

.main-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  width: 1400px;
  margin: 0 auto;
}

.fa-star {
  color: yellow;
  width: 100px;
}

.ımbdtext {
  position: absolute;
  top: 75;
}

.topoyuncu {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}

.topoyuncu > div {
  background-color: rgb(0, 0, 0);
  color:#fff;
  padding: 5px;
  border-radius:3px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}
.topoyuncu > div > img{
  width: 250px;
  height: 300px;
  object-fit: cover;
  object-position: top center;
}
.topoyuncu > div > div{
  background-color: rgb(0, 0, 0);
  padding:5px;
  border-radius:3px;
}
.topoyuncu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gorseller{
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
}